

<div class="row">
<form class="col s12">
  <div class="row form-line">
      <div class="col s1">
          <label for="s1">文章名称</label>
      </div>
      <div class="col s6">
          <input id="s1" placeholder="文章名称" type="text" class="minput">
      </div>
  </div>
   <div class="row form-line">
       <div class="col s1">
           <label for="s2">文章分类</label>
       </div>
    <div class="col s6">
        <select id="catalog" class="myselect select2" placeholder="请选择分类">
            <option value=""></option>
            <option value="java">java</option>
            <option value="php">php</option>
            <option value="golang">golang</option>
            <option value="javascript">javascript</option>
            <option value="javascript">javascript</option>
            <option value="javascript">javascript</option>
            <option value="javascript">javascript</option>
            <option value="javascript">javascript</option>
            <option value="javascript">javascript</option>
            <option value="javascript">javascript</option>
            <option value="javascript">javascript</option>
            <option value="javascript">javascript</option>
            <option value="javascript">javascript</option>
            <option value="javascript">javascript</option>
        </select>
    </div>
  </div>

   <div class="row form-line">
       <div class="col s1">
           <label for="">文章内容</label>
       </div>
       <div class="col s10">
           <textarea class="mtextarea"></textarea>
       </div>
  </div>
 <a class="waves-effect waves-light btn">发布</a>
</form>
</div>

<script type="text/javascript" src="/static/js/posta.js"></script>