

<div class="row">
<form class="col s12">
  <div class="row">
    <div class="input-field col s6">
      <input id="first_name" type="text" class="validate ma">
      <label for="first_name">脚本功能</label>
    </div>
    <div class="input-field col s6">
      <input id="first_name" type="text" class="validate ma">
      <label for="first_name">脚本分类</label>
    </div>
  </div>

   <div class="row">
    <div class="input-field col s12">
      <textarea id="textarea1" class="materialize-textarea"></textarea>
      <label for="textarea1">脚本内容</label>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12">
      <textarea id="textarea1" class="materialize-textarea"></textarea>
      <label for="textarea1">测试代码</label>
    </div>
  </div>

  <div class="row">
     <div class="input-field col s12">
      <textarea id="textarea1" class="materialize-textarea"></textarea>
      <label for="textarea1">执行结果</label>
    </div>
  </div>
</form>
</div>


