

<style type="text/css">
	
  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  .page-footer {
  }


</style>

<footer class="page-footer {{.LayoutClass}}">
<div class="container">
  <div class="row">
    <div class="col l6 s12">
      <h5 class="white-text">程序网</h5>
      <p class="grey-text text-lighten-4">总结、分享其乐融融</p>
    </div>
    <div class="col l4 offset-l2 s12">
      <h5 class="white-text">链接</h5>
      <ul>
        <li><a class="grey-text text-lighten-3" href="#!">关于我们</a></li>
        <li><a class="grey-text text-lighten-3" href="#!">联系我们</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="footer-copyright">
  <div class="container">
    © 2014 Copyright Text
    <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
  </div>
</div>
</footer>



