<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title></title>
	<link rel="stylesheet" href="/static/lib/materialize-src/css/materialize.css">
	<link rel="stylesheet" href="/static/css/index.css">
	<link rel="stylesheet" href="/static/lib/select2/select2.min.css" />
	<link rel="stylesheet" href="/static/lib/select2/mini.shadow.css" />
	<script type="text/javascript" src="/static/lib/require.js"></script>
	<script type="text/javascript" src="/static/lib/require_config.js"></script>
	{{.Header}}
</head>
<body>
	<div class="container" id="mbody">
		{{.LayoutContent}}
	</div>
	<div>
		{{.Sidebar}}
	</div>
	{{.Footer}}

</body>
</html>